<% if (typeof (partials) != 'undefined') { %>
    <%-include(partials)%>
<% } %>
<h1> This is a response from admin home</h1>
<ul>
    <li><a href="/user/create_trip">Create Trip</a></li>
    <li><a href="/user/end_trip">End Trip</a></li>
    <li><a href="/user/rate_last">Rate Last Trip</a></li>
    <li><a href="/admin/create_location">Create Location</a></li>
    <li><a href="/admin/create_route">Create route</a></li>
    <li><a href="/admin/approve_company">Approve Company</a></li>
    <li><a href="/admin/update_route">Update a Route</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>