<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Create Location</h1>
            <% if (typeof (partials) != 'undefined') { %>
                <%- include(partials) %>
            <% } %>
            <form action="/admin/create_location" method="POST">
                <div class="form-group">
                    <label for="location_name">Location Name</label>
                    <input
                            type="text"
                            id="location_name"
                            name="loc_name"
                            class="form-control"
                            placeholder="Enter the name of the location"
                    />
                </div>

                <button class="btn-info btn right-aligned-btn">create Location</button>

            </form>
        </div>
    </div>
</div>