<% if (typeof (partials) != 'undefined') { %>
    <%-include(partials)%>
<% } %>

<h1> This is a response from driver home</h1>
<ul>
   <li><a href="/user/create_trip">Create Trip</a></li>
    <li><a href="/user/end_trip">End Trip</a></li>
    <li><a href="/user/rate_last">Rate Last Trip</a></li>
    <li><a href="/driver/req_bus">Request for a bus</a></li>
    <li><a href="/driver/bus_position">Update bus Location</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>

