<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="footer-logo">
                    <a class="navbar-brand" href="#">Travel Bangla</a>
                    <p>Travelling through cities made easy and fast with us. Now you can book the public transport of your city with the platform with just a snap of fingers.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="list-menu">
                    <h4>Abou Us</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Features item</a></li>
                        <li><a href="#">Live streaming</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="list-menu">
                    <h4>Support</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">faq</a></li>
                        <li><a href="#">Editor help</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="copyrights">
        <div class="container">
            <p>&copy; Copyrights TravelBangla. All rights reserved.</p>
            <div class="credits">
                Designed by
                <a href="https://github.com/zarinbatool18">Zarin Tasnim</a> &
                <a href="https://github.com/akib-89">Akibur Rahman</a>
            </div>
        </div>
    </div>

</footer>