<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>Welcome to Travel Bangla</h1>
        <h2>Elegant solution to go around places</h2>
        <img src="assets/img/site-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        <a href="/auth/register" class="btn-get-started scrollto">Get Started</a>
    </div>
</section>

<section id="about-us" class="about-us padd-section">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

            <div class="col-md-5 col-lg-3">
                <img src="assets/img/about-img.jpg" alt="About" data-aos="zoom-in" data-aos-delay="100">
            </div>

            <div class="col-md-7 col-lg-5">
                <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                    <h2><span>Travel bangla</span> Travelling made easy</h2>
                    <p>Travelling through cities made easy and fast with us.
                        Now you can book the public transport of your city with the platform
                        with just a snap of fingers</p>

                    <ul class="list-unstyled">
                        <li><i class="vi bi-chevron-right"></i>Creative Design</li>
                        <li><i class="vi bi-chevron-right"></i>Retina Ready</li>
                        <li><i class="vi bi-chevron-right"></i>Easy to Use</li>
                        <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
