<div class="row mt-5">
    <div class="col-md-8 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i><%= title %></h1>
            <div id="partial">
                <% if (typeof (partials) != 'undefined') { %>
                    <%- include(partials) %>
                <% } %>
            </div>
            <form action=<%= formPostUrl %> method="POST">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="source">
                            From
                        </label>
                        <input
                                type="search"
                                id="source"
                                list="loc-option"
                                name="source"
                                class="form-control"
                                placeholder="Enter name of starting location"
                        />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="destination">To</label>
                        <br>
                        <input
                                type="search"
                                list="loc-option"
                                name="destination"
                                class="form-control"
                                id="destination"
                                placeholder="Enter name of the destination"/>

                    </div>
                    <datalist id="loc-option">
                    </datalist>
                </div>
                <div class="col-md-6 form-group center">
                    <label for="route">Route</label>
                    <br>
                    <input
                            type="search"
                            list="route-option"
                            name="route"
                            class="form-control"
                            id="route"
                            placeholder="Enter name of the route"/>
                    <datalist id="route-option">
                    </datalist>
                </div>
                <div class="col-md-6 form-group center">
                    <label for="bus">Bus option</label>
                    <br>
                    <input
                            type="search"
                            list="bus-option"
                            name="bus"
                            class="form-control"
                            id="bus"
                            placeholder="Enter ID of the bus"/>
                    <datalist id="bus-option">
                    </datalist>
                </div>
                <button class="btn-info btn right-aligned-btn">Request Trip</button>
            </form>
        </div>
    </div>
</div>
