/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    color: #000;
    font-weight: 600;
}

h4 {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2;
}

h5 {
    color: #626262;
    font-size: 14px;
    font-weight: 500;
}

a {
    letter-spacing: 2px;
    text-decoration: none;
    color: #71c55d;
}
a:hover {
    color: #92d283;
}

ul {
    letter-spacing: 1px;
}

li {
    color: #626262;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: capitalize;
}

p {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 20px;
}

span {
    letter-spacing: 1px;
}

label {
    margin: 10px;
}

.right-aligned-btn{
    float: right;
}

.container-full {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.table-cell {
    width: 50%;
}

.invisible-cell {
    display: none;
}

.center {
    margin: auto;
    width: auto;
    padding: 10px;
}



.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    background: #2a2c30;
    padding-top: 50px;
}
.footer .footer-logo .navbar-brand {
    color: #fff;
    display: inline-block;
    float: none;
    font-family: "Philosopher", sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.2em;
    padding-left: 0;
    padding-top: 0;
}
.footer .footer-logo p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}
.footer .list-menu > h4 {
    color: #fff;
    padding-bottom: 20px;
}
.footer .list-menu ul li a {
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    text-decoration: none;
    letter-spacing: 0;
}
.footer .copyrights {
    background: #fff;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
}
.footer .copyrights p, .footer .copyrights .credits {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0;
}
.footer .copyrights p a, .footer .copyrights .credits a {
    letter-spacing: 0;
    color: #71c55d;
}
