<% if (typeof (partials) != 'undefined') { %>
    <%-include(partials)%>
<% } %>

<h1> This is a response from company home</h1>

<ul>
    <li><a href="/user/create_trip">Create Trip</a></li>
    <li><a href="/user/end_trip">End Trip</a></li>
    <li><a href="/user/rate_last">Rate Last Trip</a></li>
    <li><a href="/company/approve_driver">Approve driver for a bus</a></li>
    <li><a href="/company/schedule_bus">Schedule bus for next days</a></li>
    <li><a href="/company/add_bus">Add bus to company</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>